.check-lists-page-content {
    font-family: Arial;
    margin-left: 100px;
    display: grid;
    grid-template-columns: 35% 65%;
    height: 100vh;

    grid-template-areas:
        'saved active'
        'saved history';
}

.check-lists-page-content__saved-lists {
    grid-area: saved;
    padding: 70px 0 0 0;
    overflow-y: scroll;
    max-height: calc(100vh - 100px);
}

.check-lists-page-content__right-column {
    grid-area: active;
    margin-top: 0;
    padding: 50px 50px 50px 100px;
    background-color: #f2f2f2;
    overflow-y: scroll;
}

.check-lists-page-content__right-column__closed {
    padding: 0 50px 0 100px;
    transition-duration: 0.5s;
    height: 0;
}

.check-lists-page-content__right-column__opened {
    transition-duration: 0.5s;
    height: calc(100vh - 200px);
}

.check-lists-page__history {
    grid-area: history;
    background-color: #f2f2f2;
    text-align: center;
}

body:has(.page--dark) .check-lists-page__history {
    background-color: #282828;
}

.check-lists-page__history h1 {
    font-size: 20pt;
    line-height: 100px;
    margin: 0;
    font-weight: lighter;
}

.check-lists-page__history__closed {
    height: 100px;
    transition-duration: 0.5s;
}

.check-lists-page__history__opened {
    height: 100vh;
    transition-duration: 0.5s;
}

.check-lists-page__history-header {
    height: 100px;
    cursor: pointer;
    transition-duration: 0.5s;
    box-shadow: 20px 0 30px 0 #c4c4c4;
}

body:has(.page--dark) .check-lists-page__history-header {
    box-shadow: 20px 0 30px 0 #1C1D1F;
}

.check-lists-page__history-header:hover {
    background-color: #dcdcdc;
    transition-duration: 0.5s;
    box-shadow: none;
}

body:has(.page--dark) .check-lists-page__history-header:hover {
    background-color: #1C1D1F;
}

.check-lists-page__history-content {
    padding: 150px 50px;
    font-size: 30px;
}

body:has(.page--dark) .check-lists-page-content__right-column {
    background-color: #282828;
}

.check-lists-page-content__right-column h1 {
    text-align: center;
}

.check-lists-page-content__right-column__active-list {
    width: 100%;
}

.check-lists-page-content__right-column__active-list h1 {
    font-size: 25pt;
    margin-bottom: 50px;
}

.check-lists-task-item {
    display: grid;
    grid-template-columns: 50px auto;
    height: 80px;
    margin-top: 5px;
    padding-left: 30px;
    border-radius: 20px;
    margin-right: 30px;
    cursor: pointer;

    --disabled: #C3C8DE;
    position: relative;
}

.check-lists-task-item:hover {
    background-color: white;
}

body:has(.page--dark) .check-lists-task-item:hover {
    background-color: #1c1d1f;
}

.check-lists-task-item__checkbox {
    width: 30px;
    height: 30px;
    margin-top: 25px;
    cursor: pointer;
    accent-color: #f2f2f2;
}

body:has(.page--dark) .check-lists-task-item__checkbox {
    accent-color: #282828;
}

.check-lists-task-item__text {
    font-size: 18pt;
    cursor: pointer;
    height: 100%;
    line-height: 80px;
    padding-left: 15px;

    position: relative;
    display: grid;
    align-items: center;
    width: fit-content;
    transition: color 0.3s ease;
}

.check-lists-task-item__text:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: -27px;
    transition: background 0.3s ease;
}

.check-lists-task-item__checkbox:checked + .check-lists-task-item__text {
    color: var(--disabled);
    animation: check-lists-task-item-move 0.3s ease 0.1s forwards;
}

.check-lists-task-item__checkbox:checked + .check-lists-task-item__text::before {
    background: var(--disabled);
    animation: check-lists-task-item-slice 0.4s ease forwards;
}

@-webkit-keyframes check-lists-task-item-move {
    50% {
        padding-left: 8px;
        padding-right: 0;
    }
    100% {
        padding-right: 4px;
    }
}

@-webkit-keyframes check-lists-task-item-slice {
    60% {
        width: 100%;
        left: 4px;
    }
    100% {
        width: 103%;
        left: 0;
        padding-left: 0;
    }
}

.check-lists-item {
    font-size: 18pt;
    padding: 15px 50px 15px 50px;
    display: grid;
    grid-template-columns: 10px auto 70px 70px;
    gap: 10px;
}

.check-lists-item__selected {
    background-color: #f2f2f2;
}

body:has(.page--dark) .check-lists-item__selected {
    background-color: #282828;
}

.heck-lists-item__text {
    height: 70px;
    line-height: 70px;
    padding-left: 25px;
    border-radius: 10px;

}

.heck-lists-item__text:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

body:has(.page--dark) .heck-lists-item__text:hover {
    background-color: #282828;
}

.check-lists-item svg {
    width: 30px;
    height: 30px;
    padding: 20px;
}

.check-lists-item svg:hover {
    cursor: pointer;
}

.check-lists-item__edit-button {
    margin: 0;
    height: 70px;
    visibility: hidden;
}

.check-lists-item__edit-button svg * {
    stroke: green;
    fill: green;
}

.check-lists-item__edit-button:hover {
    background-color: green;
    border-radius: 10px;
}

.check-lists-item__edit-button svg:hover * {
    stroke: white;
    fill: white;
}

.check-lists-item__delete-button {
    margin: 0;
    height: 70px;
    visibility: hidden;
}

.check-lists-item__delete-button svg * {
    stroke: red;
    fill: red;
}

.check-lists-item__delete-button:hover {
    background-color: red;
    border-radius: 10px;
}

.check-lists-item__delete-button svg:hover * {
    stroke: white;
    fill: white;
}

.check-lists-item:hover .check-lists-item__edit-button {
    visibility: visible;
}

.check-lists-item:hover .check-lists-item__delete-button {
    visibility: visible;
}

.check-lists-page-content__selected-row {
    min-width: 10px;
    background-color: #4db925;
}

.check-lists-item:hover .check-lists-page-content__selected-row {
    visibility: visible;
}
