.icon-button {
  font-family: Arial;
  background-color: transparent;
  border-radius: 8px;
  border: none;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  color: #3c7d05;
  transition: background-color 0.1s linear;
}

.icon-button:hover {
  background-color: #51a407;
  cursor: pointer;
}

.icon-button svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.icon-button svg * {
  transition: fill 0.1s linear, transform 0.2s linear;
  fill: #3c7d05;
}

.icon-button:hover svg * {
  fill: var(--white);
}

/*Variants*/

.icon-button--big {
  width: 54px;
  height: 54px;
}

/*Colors*/

.icon-button--red {
  color: #9e0c0c;
}

.icon-button--red:hover {
  background-color: #f31717;
}

.icon-button--red svg * {
  fill: #9e0c0c;
}

.tags-settings-icon-button {
  font-family: Arial;
  background-color: transparent;
  border-radius: 8px;
  border: none;
  padding: 8px;
  width: 54px;
  height: 54px;
  display: flex;
  transition: background-color 0.1s linear;
}

.tags-settings-icon-button:hover {
  background-color: #51a407;
  cursor: pointer;
}

.tags-settings-icon-button svg {
  width: 100%;
  height: 100%;
}

.tags-settings-icon-button svg * {
  transition: fill 0.1s linear;
  stroke: #3c7d05;
}

.tags-settings-icon-button:hover svg * {
  fill: #3c7d05;
  stroke: white;
}

/*animate trash can*/
.icon-button--trash-bin svg path:first-child {
  transform-origin: top right;
}

.icon-button--trash-bin--open svg path:first-child {
  transform: rotate(30deg) translate3d(9px, 0, 0);
}