.switch-theme-component__container {
    position: fixed;
    left: -5px;
    top: 10px;
    transform: scale(0.8, 0.8);

    --switcher--color-container-active: #d0d0d0;
    --switcher--color-container-inactive: #363636;
    --switcher--color-circle-active-border: rgba(0, 0, 0, 0);
    --switcher--color-circle-active: #ffffff;
    --switcher--color-circle-inactive-border: rgba(0, 0, 0, 0);
    --switcher--color-circle-inactive: #1f1f1f;
}
