.tab-panel-component {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background-color: #f2f2f2;
    padding: 170px 0 10px 0;
}

.tab-panel-component__button {
    width: 100px;
    font-size: 20pt;
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
}

.tab-panel-component__button-active {
    background-color: white;
}

body:has(.page--dark) .tab-panel-component {
    background-color: #282828;
}

.tab-panel-component__button:hover {
    background-color: white;
}

body:has(.page--dark) .tab-panel-component__button-active {
    background-color: #1c1d1f;
}

body:has(.page--dark) .tab-panel-component__button:hover {
    background-color: #1c1d1f;
}
