@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
@import "css/index.css";

body {
    margin: 0;
}

.tracker-page {
    margin-top: 8px;
}

body:has(.page--dark) {
    background-color: var(--black);
    color: var(--white);
    transition-duration: 0s;
}

body:has(.page--dark) input, body:has(.page--dark) textarea {
    color: var(--white);
    transition-duration: 0s;
}

.page--dark .task-text-container-input:focus {
    outline: 2px rgba(40, 184, 78, 0.82) dashed;
}

.page--dark .save-icon-container svg * {
    fill: var(--white);
}

.page--dark .add-new-task button {
    color: var(--white);
}

.page--dark .add-new-task button:hover {
    box-shadow: 0 0 10px rgba(185, 223, 185, 0.20);
    background-color: rgba(185, 223, 185, 0.20);
}

.page--dark .task-placeholder {
    background-color: rgba(185, 223, 185, 0.20);
    color: var(--white);
}

.body-white {
    background-color: white;
}

.body-black {
    background-color: var(--black);
}

.page {
    width: 1000px;
    margin: auto;
}

.page-tags-settings-hided {
    transform: translateX(0);
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.page-tags-settings-expanded {
    transform: translateX(-300px);
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.row {
    display: flex;
}

.padding-10 {
    padding: 10px;
}

.padding-5 {
    padding: 5px 0;
}

.padding-2 {
    padding: 2px 0;
}

.preset-list-component {
    margin-top: 20px;
}

.preset-component {
    min-width: 1000px;
    align-items: center;
    gap: 16px;
}

.task-component {
    gap: 16px;
    align-items: center;
    min-width: 1000px;
}

.buttons-line {
    padding: 30px 0;
    gap: 5px;
    min-width: 1086px;
}

.buttons-line div:nth-child(2) {
    flex: 1;
}

.task-text-container {
    height: 85px;
    margin-top: 0;
    padding-top: 2px;
    padding-left: 10px;
    box-sizing: border-box;
}

.task-text-container-input {
    font-family: Arial;
    font-size: 25px;
    width: 100%;
    white-space: normal;
    border: none;
    outline: none;
    text-align: left;
    resize: none;
    word-break: normal;
    padding: 16px 12px;
    box-sizing: border-box;
    background: transparent;
    border-radius: 12px;
    transition: outline 0.1s linear;
}

.task-text-container-input:focus {
    outline: 2px #28b84e4f dashed;
}

.preset-text {
    font-family: Arial;
    font-size: 25px;
    width: 100%;
    white-space: normal;
    border: none;
    outline: none;
    text-align: left;
    resize: none;
    word-break: normal;
    padding: 10px 12px 10px 15px;
    box-sizing: border-box;
    background: transparent;
    border-radius: 12px;
    transition: outline 0.1s linear;
    height: 50px;
}

.page--dark .preset-text:focus {
    outline: 2px rgba(40, 184, 78, 0.82) dashed;
}

.preset-text:focus {
    outline: 2px #28b84e4f dashed;
}

.timer {
    font-family: Arial;
    font-size: 25px;
    margin-top: 25px;
}

.base-button {
    --shadowHeight: 30px;
    display: inline-block;
    width: 135px;
    height: 57px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 25px;
    margin: 0;
    padding: 0;
    margin-bottom: var(--shadowHeight);
}

.green-button {
    box-shadow: 0 var(--shadowHeight) #3a6d15, 0 10px #3a6d15, 0 20px #3a6d15;
    color: #fff;
    background-color: #4CAF50;
}

.max-width {
    width: 100%;
}

.green-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(25px);
}

.red-button {
    transform: translateY(25px);
    box-shadow: 0 5px #330101;
    color: #fff;
    background-color: #e80c0c;
}

.add-new-task {
    padding: 0;
    margin: auto;
    width: 100%;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.add-new-task button {
    font-size: 30px;
    height: 70px;
    width: 70px;
    border: none;
    background: none;
    padding: 0;
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 0;
    transition: background 0.2s linear, box-shadow 0.2s linear;
}

.add-new-task button:hover {
    box-shadow: 0 0 10px #b9dfb9;
    background-color: #b9dfb9;
    cursor: pointer;
}

.add-new-task input {
    width: 100%;
    outline: none;
    font-family: Arial;
    font-size: 25px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #b9dfb9;
    transition: border-color 0.1s linear;
    background: transparent;
}

.add-new-task input:focus {
    border-color: #78d878;
}

.task-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5px;
}

.task-placeholder {
    background-color: #b7deb733;
    border-radius: 20px;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 420px;
    height: 47px;
    color: #205620;
}

.save-icon-container {
    height: 70px;
    width: 70px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 25px;
    transition: box-shadow 0.1s linear;
}

.save-icon-container svg {
    transition: fill 0.1s linear;
    width: 100%;
    height: 100%;
}

.save-icon-container:hover {
    cursor: pointer;
    box-shadow: 0 0 25px 0 #306e32;
}

.save-icon-container:hover svg * {
    fill: #306e32;
}

.total-time-container {
    background-color: #f2f2f2;
    margin-right: 10px;
    border-radius: 25px;
    font-size: 20px;
    text-align: center;
    width: 135px;
    height: 70px;
    font-family: Arial;
    vertical-align: middle;
    display: table-cell;
    font-weight: bold;
}

.page--dark .total-time-container {
    background-color: transparent;
}

.toggle-button__container {
    display: flex;
    align-items: center;
}

.toggle-button__container > div:first-child {
    transition: opacity 0.3s linear;
    opacity: 0.6;
    margin-left: -135px;
    width: 135px;
    text-align: center;
    font-size: 20px;
}

.toggle-button__container:has(input[checked]) > div:first-child {
    opacity: 1;
}

.tags-block {
    width: 400px;
    height: 100%;
}

.tags-block tr {
    height: 100%;
}

.tags-block td {
    height: 100%;
    vertical-align: middle;
}

.tag-item-textbox {
    float: left;
}

.tags-settings-tag-item-textbox {
    margin-left: -12px;
}

.tags-settings-tag-item-textbox .add-tag-input {
    width: 440px;
}

.tag-item {
    min-width: 50px;
    text-align: center;
    float: left;

    padding: 3px 10px 5px 10px;
    height: 25px;
    font-size: 15pt;
    margin: 5px;
    color: white;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    line-height: 140%;
}

.add-tag-button {
    min-width: 50px;
    text-align: center;
    float: left;

    padding: 3px 10px 5px 10px;
    height: 25px;
    font-size: 15pt;
    margin: 5px;
    color: white;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
}

.tags-settings-add-tag-button {
    min-width: 50px;
    text-align: center;

    font-size: 15pt;
    color: white;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    margin-top: 15px;
}

.add-tag-button-svg svg {
    cursor: pointer;
    margin-top: -5px;
    margin-left: -5px;
    padding: 0 5px;
    border-radius: 10px;
}

body:has(.page--light) .add-tag-button-svg svg *  {
    stroke: #00319f;
}

body:has(.page--dark) .add-tag-button-svg svg * {
    stroke: #0d44be;
}

.add-tag-button-svg svg:hover {
    background-color: #2067ff;
}

body:has(.page--light) .add-tag-button-svg svg:hover * {
    stroke: white;
    transition-duration: 0.1s;
}

body:has(.page--dark) .add-tag-button-svg svg:hover * {
    stroke: white;
    transition-duration: 0.1s;
}

.tag-item svg {
    width: 0;
    height: 0;
    fill: black;
    display: none;
}

.tag-item:hover svg {
    display: initial;
    width: 28px;
    height: 28px;
}

.tag-item:hover .tag-item-title {
    visibility: hidden;
}

.add-tag-input {
    position: absolute;
    height: 32px;
    margin-left: 10px;

    font-family: Arial;
    white-space: normal;
    border: none;
    text-align: left;
    word-break: normal;
    box-sizing: border-box;
    background: transparent;
    transition: outline 0.1s linear;

    padding: 5px 15px;
    font-size: 15pt;
    border-radius: 10px;
    min-width: 120px;
    outline: 2px rgba(40, 184, 78, 0.82) dashed;
}

body:has(.page--dark) .add-tag-input {
    color: var(--white);
}

body:has(.page--light) .add-tag-input {
    color: var(--black);
}

.add-tag-input-not-empty {
    margin-top: 5px;
}

.add-tag-input-empty {
    margin-top: -17px;
    position: absolute;
}

.tags-settings-panel .add-tag-input-empty {
    margin-top: 10px;
}

.tags-settings-panel .add-tag-input-not-empty {
    margin-top: 10px;
}

.tags-settings-panel {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    width: 500px;
}

body:has(.page--dark) .tags-settings-panel {
    background-color: #282828;
}

body:has(.page--light) .tags-settings-panel {
    background-color: #e5e5e5;
}

.tags-settings-panel-inner {
    padding: 20px 30px 10px 30px;
}

.tags-settings-panel-inactive {
    width: 0;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    right: -500px;
    top: 0;
}

.tags-settings-panel-active {
    transition-duration: 0.5s;
    transition-timing-function: ease;
    right: 0;
    top: 0;
}

.tag-item-component-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;

    margin-top: 8px;
    height: 40px;

    width: 40px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.tag-item-component-input:hover {
    width: 80px;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.tag-item-component-input::-webkit-color-swatch {
    border-radius: 25px;
    border: none;
}

.tag-item-component-input::-moz-color-swatch {
    border-radius: 25px;
    border: none;
}

.tag-item-component-text {
    text-align: center;
    padding: 3px 10px 5px 10px;
    height: 28px;
    font-size: 16pt;
    margin-top: 10px;
    color: white;
    border-radius: 5px;
    width: 320px;
    margin-left: 10px;
    line-height: 140%;
    border: none;
}

.tag-item-component-text:focus {
    background-color: rgba(255, 255, 255, 0) !important;
    outline: 2px rgba(40, 184, 78, 0.82) dashed;
}

body:has(.page--dark) .tag-item-component-text:focus {
    color: white !important;
}

body:has(.page--light) .tag-item-component-text:focus {
    color: black !important;
}

.tag-item-component-delete-button {
    min-width: 40px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

.delete-active-tasks-window {
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 600px;
    padding: 50px;
    border-radius: 20px;
    color: black;
}

body:has(.page--dark) .delete-active-tasks-window {
    background-color: #d3d3d3;
}

.delete-active-tasks-window div {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.delete-active-tasks-window button {
    font-size: 30px;
    margin-top: 50px;
    height: 70px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}

.delete-active-tasks-window button:hover {
    border-radius: 30px;
    transition-duration: 0.5s;
}

.delete-active-tasks-window-red-button {
    background-color: #c83131;
    color: white;
}

.delete-active-tasks-window-green-button {
    background-color: #74bb74;
    color: white;
}

.hide-by-default {
    visibility: hidden;
}

.preset-component-container:hover .hide-by-default {
    visibility: visible;
}

.task-component-container:hover .hide-by-default {
    visibility: visible;
}

.selected-row {
    min-width: 10px;
    background-color: #4db925;
    margin-left: -25px;
    margin-right: 15px;
}

.chart-page-component {
    margin: 8px 50px 0 110px;
}

.chart-js-custom-tooltip {
    background-color: white;
    font-size: 16pt;
    padding: 10px 15px 1px 15px;
    border-radius: 10px;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.6);
}

.tooltip-tag {
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    border-radius: 5px;
}

.tooltip-line {
    margin-bottom: 15px;
}

.chart-tags-panel {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    width: 100%;
    font-size: 16pt;
}

.chart-tags-panel__tag {
    display: flex;
    align-items: center;
    gap: 4px;
}

.chart-tags-panel__tag label {
    background-color: rgba(var(--color), 0.8);
    padding: 4px 8px;
    border-radius: 4px;
}

.chart-page-component button {
    font-size: 15pt;
    padding: 15px;
}

.chart-tags-panel input {
    width: 30px;
    height: 30px;
    margin: 0;
}

.empty-page-component {
    font-size: 30pt;
    padding-top: 300px;
    text-align: center;
}

