.body-white {
    background-color: white;
}

.body-black {
    background-color: black;
}

.page {
    width: 1000px;
    margin: auto;
}

.row {
    display: flex;
}

.padding-10 {
    padding: 10px;
}

.buttons-line {
    padding: 10px 0;
}

.task-text-container {
    height: 85px;
    margin-top: 0;
    padding-top: 2px;
    padding-left: 10px;
    box-sizing: border-box;
}

.task-text-container-edit-mode {
    height: 85px;
    margin-top: 0;
    margin-bottom: 2px;
    padding-left: 10px;
    box-sizing: border-box;

    border: 2px #28b84e4f dashed;
}

.task-text-container-input {
    font-family: Arial;
    font-size: 25px;
    width: 99%;
    white-space: normal;
    border: none;
    outline: none;
    text-align: left;
    resize: none;
    word-break: normal;
}

.add-from-presets-button {
    height: 70px;
    width: 200px;
    border: none;
    background: #4caf506b;
    border-radius: 20px;
    font-size: 20px;
    padding: 0 20px;
}

.add-from-presets-button:hover {
    transition: 800ms;
    box-shadow: 0 0 10px #b9dfb9;
    background-color: #4caf50;
    cursor: pointer;
}

.preset-text {
    font-family: Arial;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.timer {
    font-family: Arial;
    font-size: 25px;
    margin-top: 25px;
}

.green-button {
    display: inline-block;
    width: 135px;
    height: 57px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 25px;
    box-shadow: 0 30px #3a6d15, 0 10px #3a6d15, 0 20px #3a6d15;
}

.max-width {
    width: 100%;
}

.green-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(25px);
}

.red-button {
    display: inline-block;
    width: 135px;
    height: 57px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #e80c0c;
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px #330101;
    transform: translateY(25px);
}

.add-new-task {
    padding: 0;
    margin: auto;
}

.add-new-task button {
    height: 70px;
    width: 70px;
    border: none;
    background: none;
    padding: 0;
    margin-left: -70px;
    border-radius: 20px;
}

.add-new-task button:hover {
    transition: 500ms;
    box-shadow: 0 0 10px #b9dfb9;
    background-color: #b9dfb9;
    cursor: pointer;
}

.add-new-task input {
    width: 750px;
    margin-right: 10px;
    font-family: Arial;
    font-size: 25px;
    /*height: 50px;*/
    padding: 20px;
    /*margin-left: 300px;*/
    border-radius: 20px;
    border-width: 1px;
    border-color: #b9dfb9;
    /*border: none;*/
}

.delete-task-button {
    font-size: 25px;
    font-family: Arial;
    background-color: transparent;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    border-width: 0;
    color: #9e0c0c;
}

.delete-task-button:hover {
    background-color: #f31717;
    color: white;
    cursor: pointer;
}

.save-task-as-preset-button {
    font-size: 25px;
    font-family: Arial;
    background-color: transparent;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    border-width: 0;
    color: #3c7d05;
}

.save-task-as-preset-button:hover {
    background-color: #51a407;
    color: white;
    cursor: pointer;
}

.delete-preset-button {
    font-size: 25px;
    font-family: Arial;
    background-color: transparent;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    border-width: 0;
    color: #9e0c0c;
}

.delete-preset-button:hover {
    background-color: #f31717;
    color: white;
    cursor: pointer;
}






.debug-panel-initial {
    cursor: pointer;
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 20px;
    background-color: rgba(188, 188, 188, 0.45);
    padding: 10px;
}

.debug-panel {
    cursor: pointer;
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 20px;
    background-color: rgba(188, 188, 188, 0.45);
    padding: 10px;
    transition-duration: 1s;
}

.debug-panel:hover {
    padding: 5px;
    transition-duration: 0.5s;
}

.debug-icon {
    cursor: pointer;
    position: fixed;
    left: 10px;
    top: 10px;
    padding: 10px;
}

.debug-image-active {
    width: 40px;
    height: 40px;
    transition-duration: 500ms;
}

.debug-image-active:hover {
    width: 50px;
    height: 50px;
    transition-duration: 500ms;
}

.debug-components-count {
    color: #183ce5;
}

.debug-handlers-count {
    color: #3a6d15;
}

.debug-errors-count {
    color: red;
}

.switcher-container {
    border-radius: 25px;
    background-color: #b2b1f6;
    height: 50px;
    width: 110px;
    cursor: pointer;
}

.switcher-circle-active {
    border: solid 4px #2c2e6e;
    border-radius: 25px;
    background-color: #2c2e6e;
    height: 42px;
    width: 42px;
    margin-left: 0;
    transition-duration: 300ms;
}

.switcher-circle-inactive {
    border: solid 4px #8384bb;
    border-radius: 30px;
    background-color: #f8f8f8;
    height: 42px;
    width: 42px;
    margin-left: 60px;
    transition-duration: 300ms;
}

.task-placeholder {
    background-color: #b7deb733;
    border-radius: 20px;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 420px;
    color: #205620;
}
